- pageTitle.set('List a New Job')
h1= pageTitle.get()
form(method='post',action='/jobs/new')
  div.field
    label.above What type of job is it?
    div.field#jobType
      input#jobTypeErrand(type='radio',name='jobType')
      label(for='jobTypeErrand',title='around and about the local area, e.g. shopping run') 
        img(src='/images/errand.png')
        | Local Errand
      input#jobTypePickup(type='radio',name='jobType')
      label(for='jobTypePickup',title='need transport, e.g. parcel collection')
        img(src='/images/pickup.png')
        | Pickup
      input#jobTypeMove(type='radio',name='jobType')
      label(for='jobTypeMove',title='need a van, e.g. moving furniture')
        img(src='/images/move.png')
        | Move
      input#jobTypeHelp(type='radio',name='jobType')
      label(for='jobTypeHelp',title='lend me a hand, e.g. a two-person job')
        img(src='/images/helping-hand.png')
        | Helping hand
      input#jobTypeOnline(type='radio',name='jobType')
      label(for='jobTypeOnline',title='wholly online, e.g. research')
        img(src='/images/online.png')
        | Online

  div.field
    label.above(for='title') What is the title of the job?
    input.title(name='title',placeholder='walk the dog, weekly shop, build a bookcase')

  div#errandLocation.field.ui-widget
    label.above(for='errandSuburb') Which suburb or town is the errand in?
    input#errandSuburb.suburb.flow(placeholder='type to see suggestions')
    input#errandSuburbId(type='hidden',name='startSuburbId')

  div#pickupLocations.field.ui-widget
    label.above(for='pickupSuburb') Which suburb or town is the pickup at?
    input#pickupSuburb.suburb.flow(placeholder='type to see suggestions')
    input#pickupSuburbId(type='hidden',name='startSuburbId')
    label.above(for='dropoffSuburb') Which suburb or town is the drop-off at?
    input#dropoffSuburb.suburb.flow(placeholder='type to see suggestions')
    input#dropoffSuburbId(type='hidden',name='finishSuburbId')

  div#moveLocations.field.ui-widget
    label.above(for='moveFromSuburb') Which suburb or town does the move start at?
    input#moveFromSuburb.suburb.flow(placeholder='type to see suggestions')
    input#moveFromSuburbId(type='hidden',name='startSuburbId')
    label.above(for='moveToSuburb') Which suburb or town does the move finish at?
    input#moveToSuburb.suburb.flow(placeholder='type to see suggestions')
    input#moveToSuburbId(type='hidden',name='finishSuburbId')

  div#helpLocation.field.ui-widget
    label.above(for='helpInSuburb') Which suburb or town do you need help in?
    input#helpSuburb.suburb.flow(placeholder='type to see suggestions')
    input#helpSuburbId(type='hidden',name='startSuburbId')

script
  $(function() {
    $('#jobType').buttonset();

    $('#jobTypeErrand').toggleDependentFields($('#errandLocation'));
    $('#jobTypePickup').toggleDependentFields($('#pickupLocations'));
    $('#jobTypeMove').toggleDependentFields($('#moveLocations'));
    $('#jobTypeHelp').toggleDependentFields($('#helpLocation'));

    $("#errandSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#errandSuburbId').val(ui.item.id);
        }
      }
    });

    $("#pickupSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#pickupSuburbId').val(ui.item.id);
        }
      }
    });

    $("#dropoffSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#dropoffSuburbId').val(ui.item.id);
        }
      }
    });

    $("#moveFromSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#moveFromSuburbId').val(ui.item.id);
        }
      }
    });

    $("#moveToSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#moveToSuburbId').val(ui.item.id);
        }
      }
    });

    $("#helpSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#helpSuburbId').val(ui.item.id);
        }
      }
    });

  });

