- pageTitle.set('List a New Job')
h1= pageTitle.get()
form(method='post',action='/jobs/new')
  fieldset#description
    h2 What is the Job?
    div.field#jobType
      input#jobTypeErrand(type='radio',name='jobType',value='errand',checked='checked')
      label(for='jobTypeErrand',title='around and about the local area, e.g. shopping run') 
        img(src='/images/errand.png')
        | Errand
      input#jobTypePickup(type='radio',name='jobType',value='pickup')
      label(for='jobTypePickup',title='need transport, e.g. parcel collection')
        img(src='/images/pickup.png')
        | Pickup
      input#jobTypeMove(type='radio',name='jobType',value='move')
      label(for='jobTypeMove',title='need a van, e.g. moving furniture')
        img(src='/images/move.png')
        | Move
      input#jobTypeHelp(type='radio',name='jobType',value='help')
      label(for='jobTypeHelp',title='lend me a hand, e.g. a two-person job, house sit')
        img(src='/images/helping-hand.png')
        | Helping hand
      input#jobTypeOnline(type='radio',name='jobType',value='online')
      label(for='jobTypeOnline',title='wholly online, e.g. research')
        img(src='/images/online.png')
        | Online

    div.field
      label.above(for='title') What is the title of the job?
      input#title.title(name='title',placeholder='shop for groceries, walk my dog')

  fieldset#location
    h2 Where is the job? 

    div#oneLocation.field.ui-widget
      label.above(for='jobSuburb') Which suburb or town is the job in?
      input#jobSuburb.suburb.flow(placeholder='type to see suggestions')
      input#jobSuburbId(type='hidden',name='jobSuburbId')

    div#twoLocations.field.ui-widget
      label.above(for='startSuburb') Which suburbs or towns is the job between?
      input#startSuburb.suburb.flow(placeholder='type to see suggestions')
      img(src='/images/travel-to.png')
      input#finishSuburb.suburb.flow(placeholder='type to see suggestions')
      input#startSuburbId(type='hidden',name='startSuburbId')
      input#finishSuburbId(type='hidden',name='finishSuburbId')

script
  $(function() {
    $('#jobType').buttonset();

    $('#jobTypeErrand, #jobTypePickup, #jobTypeMove, #jobTypeHelp')
      .toggleDependentFields($('#location'));

    $('#jobTypeErrand')
      .click(function() { $('#title').attr('placeholder', 'shop for groceries, walk my dog') });
    $('#jobTypePickup')
      .click(function() { $('#title').attr('placeholder', 'pickup a parcel, deliver some flowers') });
    $('#jobTypeMove')
      .click(function() { $('#title').attr('placeholder', 'collect a bed, office move') });
    $('#jobTypeHelp')
      .click(function() { $('#title').attr('placeholder', 'house sit, build a bookcase, fix my car') });
    $('#jobTypeOnline')
      .click(function() { $('#title').attr('placeholder', 'compare laptops, research composting') })

    $('#jobTypeErrand, #jobTypeHelp')
      .toggleDependentFields($('#oneLocation'));
    $('#jobTypePickup, #jobTypeMove')
      .toggleDependentFields($('#twoLocations'));

    $("#jobSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#jobSuburbId').val(ui.item.id);
        }
      }
    });

    $("#startSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#startSuburbId').val(ui.item.id);
        }
      }
    });

    $("#finishSuburb").suggest({
      source: '/reference/locality',
      select: function(event, ui) {
        if(ui.item) {
          $('#finishSuburbId').val(ui.item.id);
        }
      }
    });

  });

