@import "/stylesheets/reset.css";

@import "/stylesheets/jquery-ui.css";
/* Busy Beez */
body {
  padding: 0 50px;
  font: 14px Helvetica, Arial, sans-serif;
}
.ui-widget {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 24pt;
  text-shadow: 1.25pt 1.25pt 1.5pt #666;
}
h2 {
  margin-top: 1ex;
  font-size: 20pt;
  color: #0033aa;
}
h3 {
  margin-top: 1ex;
  font-size: 14pt;
  color: #3366ff;
}
ul.bullet {
  list-style: disc inside none;
}
h1.title {
  text-align: center;
}
.feature-panel {
  height: 25ex;
}
.panel {
  float: left;
}
.area {
  border: 1px solid #cdcdcd;
  border-radius: 4px 4px;
  padding: 1ex 1em 2ex 1em;
}
.third-pane {
  float: left;
  width: 33%;
  height: 100%;
}
.feature {
  background-color: #ada;
  margin: 5px;
  border: 5px solid #ada;
  width: auto;
  height: 100%;
}
.feature ul {
  font-size: 12pt;
}
/* 
  Forms 
*/
.template {
  display: none;
}
fieldset {
  margin-top: 1ex;
}
fieldset.nested {
  margin-left: 2em;
}
fieldset legend {
  font-size: 16pt;
  color: #0033aa;
}
fieldset.detail legend {
  font-size: 14pt;
  color: #0033aa;
}
.field input, .field select, .field textarea {
  border: 1px solid #448;
  border-radius: 3px 3px;
  box-shadow: 1px 1px 2px #aaa;
}
.field .full {
  width: 100%;
}
.field .narrow {
  width: 250px;
}
.field .wide {
  width: 400px;
}
.field input:focus, .field select:focus, .field textarea:focus {
  background-color: #ffffc0;
}
.field input:-moz-placeholder, .field textarea:-moz-placeholder {
  letter-spacing: -0.08ex;
}
.field label {
  font-size: 14pt;
  color: #3366ff;
}
.field label em {
  font-size: 10pt;
}
.field label.above {
  margin-top: 0.5ex;
  display: block;
}
.field label.error {
  display: block;
  font-size: 12pt;
  font-weight: bold;
  color: red;
}
.field input.error, .field textarea.error, .field select.error {
  border-color: red;
}
.flowing.field {
  float: left;
  margin-right: 1ex;
}
.summary input,
.summary select,
.summary textarea,
.summary button {
  font-size: 16pt;
}
.summary input:-moz-placeholder, .summary textarea:-moz-placeholder {
  font-size: 12pt;
  padding: 3pt 0 3pt 0;
}
.detail input,
.detail select,
.detail textarea,
.detail button {
  font-size: 12pt;
}
.detail input:-moz-placeholder, .detail textarea:-moz-placeholder {
  font-size: 10pt;
  padding: 1.9pt 0;
}
.read-only {
  background-color: #ddd;
  border: 1px solid #cdcdcd;
  border-radius: 3px 3px;
  height: 3ex;
  padding: 0.25ex 0 0.3ex 0;
}
.ui-autocomplete-loading {
  background: url('/images/ui-anim_basic_16x16.gif') right center no-repeat;
}
.suggest-info {
  position: relative;
  display: inline-block;
  margin-left: -10em;
  margin-right: 0.5em;
  width: 9.5em;
  text-align: right;
  color: #3366ff;
  font-style: italic;
  font-size: 9pt;
}
.form-actions {
  margin-top: 2ex;
  float: right;
}
.form-actions input[type='submit'] {
  padding: 1ex 1em 1ex 1em;
  border: 3px outset #0f0;
  border-radius: 6px;
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
  text-shadow: 2pt 2pt 1.5pt #333;
  background-color: #0d0;
}
.form-actions input[type='submit']:hover {
  background-color: #3f3;
}
button {
  margin: 1ex 0;
}
/* 
** List Job 
*/
.job.summary {
  margin: 1ex 0;
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
}
.job.summary.unassigned {
  background-color: #9e9;
  border-color: #006600;
}
.job.summary.unassigned .status-box {
  border-color: #006600;
}
.job .offer {
  float: left;
  margin: 1ex 0.5em;
}
.job .avatar {
  float: left;
}
.job .amount {
  float: left;
  font-size: 42pt;
  margin-top: -0.1em;
}
.job .details {
  float: left;
  margin: 1ex 0.5em;
}
.job .name {
  font-size: 20pt;
}
.job .status-box {
  float: right;
  clear: right;
  width: 10em;
  border: 2px inset;
  margin: 1ex 0.5em;
  padding: 0.5ex 0.5em;
}
/* 
** New Job 
*/
#jobType img {
  vertical-align: middle;
}
.top-space {
  margin-top: 1ex;
}
