/* Busy Beez */
@import "/stylesheets/reset.css";
@import "/stylesheets/jquery-ui.css";

@font-family: Helvetica, Arial, sans-serif;
@label-color: #36f;
@head-color: #03a;

html {
}

body {
  padding: 0 50px;
  font: 14px @font-family;
}

.ui-widget {
  font-family: @font-family;
}

h1 {
  font-size: 24pt;
  text-shadow: 1.25pt 1.25pt 1.5pt #666;
}

h2 {
  margin-top: 1ex;
  font-size: 20pt;
  color: @head-color;
}

h3 {
  margin-top: 1ex;
  font-size: 14pt;
  color: @label-color;
}


ul.bullet {
  list-style: disc inside none;
}

h1.title {
  text-align: center;
}

.feature-panel {
  height: 25ex;
}

.panel {
  float: left;
}

.area {
  border: 1px solid #cdcdcd;
  border-radius: 4px 4px;
  padding: 1ex 1em 2ex 1em;
}

.third-pane {
  .panel;
  width: 33%;
  height: 100%;
}

.feature {
  background-color: #ada;
  margin: 5px;
  border: 5px solid #ada;
  width: auto;
  height: 100%;
  ul {
    font-size: 12pt;  
  }
}


/* 
  Forms 
*/

.template {
  display: none;
}

fieldset {
  margin-top: 1ex;
}

fieldset.nested {
  margin-left: 2em;
}

fieldset legend {
  font-size: 16pt;
  color: @head-color;
}

fieldset.detail legend {
  font-size: 14pt;
  color: @head-color;
}

.field {
  input, select, textarea {
    border: 1px solid #448;
    border-radius: 3px 3px;
    box-shadow: 1px 1px 2px #aaa;
  }
  .full {
    width: 100%;
  }
  .narrow {
    width: 250px;
  }
  .wide {
    width: 400px;
  }
  input:focus, select:focus, textarea:focus {
    background-color: #ffffc0;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    letter-spacing: -0.08ex;
  }
  label {
    font-size: 14pt;
    color: @label-color;
    em {
      font-size: 10pt;
    }
  }
  label.above {
    margin-top: 0.5ex;
    display: block;
  }
  label.error {
    display: block;
    font-size: 12pt;
    font-weight: bold;
    color: red;
  }
  input.error,
  textarea.error,
  select.error {
    border-color: red;
  }
}

.flowing.field {
  float: left;
  margin-right: 1ex;
}

.summary {
  input, select, textarea, button {
    font-size: 16pt;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    font-size: 12pt;
    padding: 3pt 0 3pt 0;
  }
}

.detail {
  input, select, textarea, button {
    font-size: 12pt;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    font-size: 10pt;
    padding: 1.9pt 0;
  }
}

.read-only {
  background-color: #ddd;
  border: 1px solid #cdcdcd;  
  border-radius: 3px 3px;
  height: 3ex;
  padding: 0.25ex 0 0.3ex 0;
}

.ui-autocomplete-loading { 
  background: url('/images/ui-anim_basic_16x16.gif') right center no-repeat; 
}

.suggest-info {
  position: relative;
  display: inline-block;
  margin-left: -10em;
  margin-right: 0.5em;
  width: 9.5em;
  text-align: right;
  color: @label-color;
  font-style: italic;
  font-size: 9pt;
}

.form-actions {
  margin-top: 2ex;
  float: right;
  input[type='submit'] {
    padding: 1ex 1em 1ex 1em;
    border: 3px outset #0f0;
    border-radius: 6px;
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: 2pt 2pt 1.5pt #333;
    background-color: #0d0;
  }
  input[type='submit']:hover {
    background-color: #3f3;
  }
}

button {
  margin: 1ex 0;
}

/* 
** List Job 
*/

.job.summary {
  margin: 1ex 0;
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
}

.job.summary.unassigned {
  @border-color: #060;
  background-color: #9e9;
  border-color: @border-color;
  .status-box {
    border-color: @border-color;
  }
}

.job .offer {
  float: left;
  margin: 1ex 0.5em;
}

.job .avatar {
  float: left;
}

.job .amount {
  float: left;
  font-size: 42pt;
  margin-top: -0.1em;
}

.job .details {
  float: left;
  margin: 1ex 0.5em;
}

.job .name {
  font-size: 20pt;
}

.job .description {
}

.job .status-box {
  float: right;
  clear: right;
  width: 10em;
  border: 2px inset;
  margin: 1ex 0.5em;
  padding: 0.5ex 0.5em;
}


/* 
** New Job 
*/

#jobType img {
  vertical-align: middle;
}

.top-space {
  margin-top: 1ex;
}

.field {
  .address-line {
  }
}
