/* Busy Beez */
@import "/stylesheets/reset.css";
@import "/stylesheets/jquery-ui.css";

@font-family: Helvetica, Arial, sans-serif;
@label-color: #36f;
@head-color: #03a;
@area-color: #f9f9f9;
@green-area-color: #DEFFB5;
@red-area-color: #FCD3BD;

html {
}

body {
  padding: 0 50px;
  font: 14px @font-family;
}

.ui-widget {
  font-family: @font-family;
}

h1 {
  font-size: 24pt;
  text-shadow: 1.25pt 1.25pt 1.5pt #666;
}

h2 {
  margin-top: 1ex;
  font-size: 20pt;
  color: @head-color;
}

h3 {
  margin-top: 1ex;
  font-size: 14pt;
  color: @label-color;
}


ul.bullet {
  list-style: disc inside none;
}

h1.title {
  text-align: center;
}

.feature-panel {
  height: 25ex;
}

.panel {
  float: left;
}

.area {
  border: 1px solid #cdcdcd;
  border-radius: 4px 4px;
  background-color: @area-color;
  padding: 1ex 1em 2ex 1em;
}

.area .area {
  background-color: white;
}

.third-pane {
  .panel;
  width: 33%;
  height: 100%;
}

.feature {
  background-color: #ada;
  margin: 5px;
  border: 5px solid #ada;
  width: auto;
  height: 100%;
  ul {
    font-size: 12pt;  
  }
}


/* 
  Forms 
*/

fieldset legend {
  font-size: 20pt;
  color: @head-color;
}

fieldset.summary legend {
  font-size: 16pt;
  color: @head-color;
}

fieldset.detail legend {
  font-size: 14pt;
  color: @head-color;
}

.field {
  margin-top: 1ex;
  label.above {
    display: block;
  }
  input, select, textarea {
    border: solid 1px #cdcdcd;
    border-radius: 3px 3px;
  }
  input:focus, select:focus, textarea:focus {
    background-color: #ffffc0;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    letter-spacing: -0.1ex;
  }
  .flow {
    display: inline;
  }
}

.summary {
  label, input, select, textarea, button {
    font-size: 16pt;
  }
  label {
    color: @label-color;
  }
}

.detail {
  label, input, select, textarea, button {
    font-size: 12pt;
  }
  label {
    color: @label-color;
  }
}

.read-only {
  background-color: #ddd;
  border: solid 1px #cdcdcd;  
  border-radius: 3px 3px;
  height: 2ex;
  padding: 0.25ex 0.55em 0.3ex 0.1em;
}

.ui-autocomplete-loading { 
  background: url('/images/ui-anim_basic_16x16.gif') right center no-repeat; 
}

.suggest-info {
  position: relative;
  display: inline-block;
  margin-left: -10em;
  margin-right: 0.5em;
  width: 9.5em;
  text-align: right;
  color: @label-color;
  font-style: italic;
  font-size: 9pt;
}


/* 
** List Job 
*/

.job.summary {
  margin: 1ex 0;
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
}

.job.summary.unassigned {
  @border-color: #060;
  background-color: #9e9;
  border-color: @border-color;
  .status-box {
    border-color: @border-color;
  }
}

.job .offer {
  float: left;
  margin: 1ex 0.5em;
}

.job .avatar {
  float: left;
}

.job .amount {
  float: left;
  font-size: 42pt;
  margin-top: -0.1em;
}

.job .details {
  float: left;
  margin: 1ex 0.5em;
}

.job .name {
  font-size: 20pt;
}

.job .description {
}

.job .status-box {
  float: right;
  clear: right;
  width: 10em;
  border: inset 2px;
  margin: 1ex 0.5em;
  padding: 0.5ex 0.5em;
}


/* 
** New Job 
*/

.new-job .wide {
  width: 600px;
}


#jobType img {
  vertical-align: middle;
}

.top-space {
  margin-top: 1ex;
}

.area.start {
  background-color: @green-area-color;
}

.area.finish {
  background-color: @red-area-color;
}

.field {
  .address-line {
    width: 16em;
  }
}
