h1.title Too busy to keep on top of your to-do list? Need help with a difficult job?
div.thirds.feature-panel
  div
    div.feature
      h2 Get started    
      ul.bullet
        li
          a(href='/jobs/new') Get a reliable and friendly person to help!
        li
          a(href='/tags/hotspot') What's popular?
        li
          a(href='/jobs') What's getting done right now?
        li 
          a(href='/jobs/new') Post a job
  div
    div.feature
      h2 Find out more
      ul.bullet
        li 
          a(href='faq#howitworks') How it works
        li
          a(href='faq#whyitworks') Why it works
        li
          a(href='faq#trust') Why can I trust Busy Beez?
        li
          a(href='faq#businesses') For businesses
  div
    div.feature
      h2 Become a worker bee
      ul.bullet
        li
          a(href='/worker/apply') Apply now
        li
          a(href='faq#becomeaworker') Our vetting process
        li Form a hive
    
